/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

.td_icon > a {
	font-size: 16px;
	visibility: hidden; 
}
.td_icon:hover > a {
	visibility: visible;
}

.icon_hidden:hover {
	display: block;
}

.old{
	background-color: red;
}
.new{
	background-color: green;
}
.color-table td{
	padding:5px;
}
.old-txt{
	color:red;
}
.new-txt{
	color:green;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    /*padding-left: 250px;*/
}

#sidebar-wrapper {
   
    /*margin-top:-8%;*/  
      height: 85%;
    margin-left: 0px;
    /*overflow-y: auto;*/
    background:black;
   
    
}

#wrapper.toggled #sidebar-wrapper {
    
}


#wrapper.toggled #page-content-wrapper {
    
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {

    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        /*padding-left: 250px;*/
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    /*#sidebar-wrapper {
        width: 250px;
    }*/
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    
   




 .empty{
    background-color:red;	
    }
    
h5{
	margin-top:0px;
	
}
.checked {
    background-color: #ff0000;
}​

